.line {
    margin: 10px 0px 10px 0px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    opacity: 80%;
}
.clear {
    clear: both;
}

.headsection h1 {
    margin-left: 0  px;
    font-size: 25px;
    font-weight: bold;
    border: 0.3px;
    color: #34364A;
}

.headsection h4 {
    margin-left: 0px;
    font-size: 16px;
    font-weight: 500;
    border: 0.3px;
    color: #34364A;
    opacity: 60%;
}