.sidebar {
    width: 360px;
    background-color: #05050D;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    border-right: 1px solid #C4C4C4;
    opacity: 9  0%;
}

.sidebar ul li {
    list-style: none;;
}

.sidebar ul li a {
    text-decoration: none;
}

.logo img {
    margin: 0px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: -10px;
    border-radius: 100px;
}

.sideheading h1 {
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 600;
}

.sideheading h4 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    opacity: 60%;

}

.wrapper {
    box-sizing: border-box;
    position: relative;
    right: 20px;
    width: 45px;
    height: 45px;
    background: linear-gradient(700deg,#1c2d55, #15213C);
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.1);
    border-radius: 5px;

}

.sideicon img {
    width: 35px;
    height: 35px;
    opacity: 70%;
    position: relative;
    left: 4px;
    top: 5px;
    right: 30px;
    margin-left: 2px;
    opacity: 60%;
}

.sidefont a {
    color: #ffffff;
    font-weight: 600;
    opacity: 50%;   
    font-size: 18px;
    position: relative;
    bottom: 35px;
    left: 40px;
}

.sidefont a:hover{
    color: #ffffff;
    transition: 0.3s;
    opacity: 100%;
}